<!DOCTYPE html>
<html lang="en">
<!--INICIO DEL HEAD-->
<head>
    <%- include("partials/head") %>
</head>
<!--FIN DEL HEAD-->
<body>
    <!--INICIO DEL HEADER-->
    <header>
        <%- include("partials/header")  %> 
    </header>
    <!--FIN DEL HEADER-->
    <!--INICIO MAIN-->
    <main>
        <%- include("partials/main") %>
    </main>
    <!--FIN MAIN-->
    <!--INICIO FOOTER-->
    <footer>
        <%- include("partials/footer") %>
    </footer>
    <!--FIN DE FOOTER-->

</html>