<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FJJ Tech</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!--INICIO DEL HEADER-->
    <header class="header-contenedor">
        <div class="img-contenedor"> 
            <img class="logo" src="/img/header-logo.png" alt="">
        </div>
        <nav class="nav-menu">
            <ul class="ul-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Componentes</a></li>
                <li><a href="#">Computadoras</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <div>
            <div class="iconos-header">
               <a href=""> <i class="fas fa-bars"></i> </a>
               <a href="/productCart"><i class="fas fa-shopping-cart"></i> </a>
               <a href=""> <i class="fas fa-user"></i> </a>
               <a href=""> <i class="fas fa-sign-in-alt"></i> </a>
            </div>
        </div>
    </header>
    <!--FIN DEL HEADER-->
    <!--INICIO MAIN-->
    <main class="main-contenedor">
        <section>
            <h2 class="titulo">Productos</h2>
            <div class="product-contenedor">
                <div class="product-card">
                <a href="/productDetail">
                    <div class="product-img">
                        <img src="/img/xiaomi-7.jpg" alt="">
                    </div>
                    </a>
                    <div class="product-info">
                        <h5>Xiaomi redmi note 7</h5>
                        <h5>$18.500</h5>
                    </div>
                    <div class="boton">
                        <button type="button">Añadir al carrito</button>
                    </div>
                 </div>
               
                <div class="product-card">
                    <a href="/productDetail">
                    <div class="product-img">
                        <img src="/img/dell-xps-7.jpg" alt="">
                    </div>
                    </a>
                    <div class="product-info">
                        <h5>Dell XPS</h5>
                        <h5>$200.000</h5>
                    </div>
                    <div class="boton">
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="product-card">
                    <a href="/productDetail">
                    <div class="product-img">
                        <img src="/img/discohd.jpg" alt="">
                    </div>
                    </a>
                    <div class="product-info">
                        <h5>Disco rigido WD</h5>
                        <h5>$10.000</h5>
                    </div>
                    <div class="boton">
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="product-card">
                    <a href="/productDetail">
                    <div class="product-img">
                        <img src="/img/xiaomi-7.jpg" alt="">
                    </div>
                    </a>
                    <div class="product-info">
                        <h5>Xiaomi redmi note 7</h5>
                        <h5>$18.500</h5>
                    </div>
                    <div class="boton">
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!--FIN MAIN-->
    <!--INICIO FOOTER-->
    <footer class="principal">
            <h2 class="footer-titulo">Seguinos en las redes</h2>
        <div class="redes-sociales">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="contenedor-footer"> 
            <h2>Acerca de nosotros</h2>
            <p>Somos una empresa que se dedica a la venta Computadoras, insumos y componentes informáticos</p>
        </div>
        <div class="contenedor-footer">
            <p class="copy">© 2021 FJJ TECH / Todos los derechos reservados</p>
        </div>
    </footer>
    <!--FIN DE FOOTER-->
    <title>FJJ tech</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="css/styles.css" />
</head>

</html>