<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <label>Nombre del producto</label>
      <input type="text" name="" required />
      <label>Descripción del producto</label>
      <input type="text" name="" />
      <label>Imagen del producto</label>
      <input
        type="file"
        name=""
        placeholder="Solo archivos png o jpeg"
        accept="image/png,image/jpeg"
      />
      <label>Categoria del producto</label>
      <input type="text" name="" placeholder="Categoria del producto" />
      <label>Colores</label>
      <input type="text" name="" placeholder="Colores" />
      <label>Almacenamiento</label>
      <input type="text" name="" placeholder="Almacenamiento" />
      <label>Precio</label>
      <input type="number" name="" placeholder="Precio" />
      <label>Marca del producto</label>
      <select>
        <option>Seleccione...</option>
        <option>Samsung</option>
        <option>HP</option>
        <option>LG</option>
        <option>Apple</option>
        <option>Lenovo</option>
        <option>Sandisk</option>
        <option>Kingston</option>
        <option>Verbatim</option>
        <option>Western Digital</option>
        <option>Dell</option>
        <option>Intel</option>
        <option>Xiaomi</option>
        <option>Cannon</option>
        <option>Sony</option>
        <option>Otras marcas</option>
      </select>
      <button type="submit">Enviar</button>
      <button type="reset">Borrar</button>
    </form>
  </body>
</html>
