<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FJJ Tech</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!--INICIO DEL HEADER-->
    <header class="header-contenedor">
        <div class="img-contenedor">
            <img class="logo" src="/img/header-logo.png" alt="">
        </div>
        <nav class="nav-menu">
            <ul class="ul-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Componentes</a></li>
                <li><a href="#">Computadoras</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <div>
            <div class="iconos-header">
                <a href=""> <i class="fas fa-bars"></i> </a>
                <a href="/productCard"><i class="fas fa-shopping-cart"></i> </a>
                <a href=""> <i class="fas fa-user"></i> </a>
                <a href=""> <i class="fas fa-sign-in-alt"></i> </a>
            </div>
        </div>
    </header>
    <!--FIN DEL HEADER-->
    <!--INICIO MAIN-->
    <main class="main-contenedor-detalle-producto">
        <div class="imagenes-vista">
            <div class="col-12">
                <div class="item">
                    <ul class="snap-slider" id="content-slider">
                        <li><img src="/img/xiaomi 1.jpg" width="100%"></li>
                        <li><img src="/img/xiaomi 2.jpg" width="100%"></li>
                        <li><img src="/img/xiaomi 3.jpg" width="100%"></li>
                        <li><img src="/img/xiaomi 4.jpg" width="100%"></li>
                    </ul>
                    <!-- <ul id="content-slider" class="content-slider"></ul> -->
                </div>
                <div class="cantidad-fotos">4 fotos</div>
            </div>
        </div>
        <div class="caja">
            <div class="detalle-producto">
                <div class="titulo-descripcion">
                    <h1>XIAOMI Redmi Note 7 negro 128gb</h1>
                </div>
                <div class="precio">
                    <p>$18.500</p>
                </div>
            </div>
        </div>
        <div class="caja">
            <h3>ESPECIFICACIONES</h3>
            <ul class="descripcion">
                <li data-spec="Marca">
                    <strong>Marca</strong>
                    <span>XIAOMI </span>
                </li>
                <li data-spec="Modelo">
                    <strong>Modelo</strong>
                    <span>Redmi Note 7</span>
                </li>
                <li data-spec="Color principal">
                    <strong>Color principal</strong>
                    <span>Negro</span>
                </li>
                <li data-spec="Gb">
                    <strong>Gb</strong>
                    <span>128 gb</span>
                </li>
                <li data-spec="Bluetooth">
                    <strong>Bluetooth</strong>
                    <span>Si</span>
                </li>
                <li data-spec="Camara">
                    <strong>Camara</strong>
                    <span>16 Megapixeles</span>
                </li>
                <li data-spec="Camara delantera">
                    <strong>Camara delantera</strong>
                    <span>12 Megapixeles</span>
                </li>
                <li data-spec="Sonido">
                    <strong>Sonido</strong>
                    <span>Stereo</span>
                </li>
                <li data-spec="Sim">
                    <strong>Sim</strong>
                    <span>Dual Sim</span>
                </li>
                <li data-spec="Memoria Externa">
                    <strong>Memoria externa</strong>
                    <span>Hasta 256gb</span>
                </li>
            </ul>
        </div>
        <div class="caja">
            <h3>GARANTIA</h3>
            <p>Todos los productos de nuestro sitio cuentan con la garantía de su fabricante</p>
        </div>
        <div class="caja">
            <h3>FORMA DE PAGO</h3>
            <p>Puede pagar online de forma segura y en cuotas a través de MercadoPago con tarjetas de créditos de todos
                los bancos.
                También puede reservar su pedido y abonarlo por depósito o transferencia bancaria o bien, en nuestro
                local al retirarlo.
                Agregue el producto al carrito y continue con el proceso de pago online.</p>
        </div>
        <div class="caja">
            <h3>MEDIOS DE ENVIO</h3>
            <p>Hacemos envíos a todo el país. Consulte nuestros costos y formas de envío.
                También puede retirar en nuestro local, previa coordinación por teléfono o email.</p>
        </div>
        <div class="carrito-detalle-producto">
            <button type="button">Añadir al carrito</button>
        </div>



    </main>
    <!--FIN MAIN-->
    <!--INICIO FOOTER-->
    <footer class="principal">
        <h2 class="footer-titulo">Seguinos en las redes</h2>
        <div class="redes-sociales">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="contenedor-footer">
            <h2>Acerca de nosotros</h2>
            <p>Somos una empresa que se dedica a la venta Computadoras, insumos y componentes informáticos</p>
        </div>
        <div class="contenedor-footer">
            <p class="copy">© 2021 FJJ TECH / Todos los derechos reservados</p>
        </div>
    </footer>
    <!--FIN DE FOOTER-->
    <title>FJJ tech</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/styles.css" />
    </head>


</html>