<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login FJJ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/stylesreg.css" />
    <link
      rel="stylesheet"
      href="/css/styles-tabletreg.css "
      media="(min-width:480px)"
    />
    <link
      rel="stylesheet"
      href="/css/styles-mdreg.css"
      media="(min-width:680px)"
    />
    <link
      rel="stylesheet"
      href="/css/styles-lgreg.css"
      media="(min-width: 1280)"
    />
  </head>

  <body>
    <main>
      <div class="style-div-main">
        <!--caja trasera-->
        <div class="caja-back margin-top">
          <div class="caja-back-register margin-top">
            <h3>¿Aun no tienes una cuenta?</h3>
            <p class="margin-top">Registrate para poder iniciar sesión</p>
            <button class="button-registro margin-top">Registrarse</button>
          </div>  
          <div class="caja-back-login margin-top">
            <h3 class="fixedmd">¿Ya tienes cuenta?</h3>
            <p class="margin-top">Inicia sesión para entrar en la pagina</p>
            <button class="button-isesion margin-top">Iniciar Sesión</button>
          </div>
          </div>

        </div>
        <!--div contenedor de los formularios -->
        <div class="contenedor-login-register">
          <!--Formulario login -->
          <form action="" class="form-login">
            <h2>Iniciar Sesión</h2>
            <input type="email" placeholder="Correo Electronico" />
            <input type="password" placeholder="Contraseña" />
            <button>Entrar</button>
          </form>
          <!--Formulario registro-->
          <form action="" class="form-register">
            <h2>Registrarse</h2>
            <input type="text" placeholder="Nombre Completo" />
            <input type="email" placeholder="Correo Electronico" />
            <input type="text" placeholder="Usuario" />
            <input type="password" placeholder="Contraseña" />
            <button class="caja-back button">Registrarse</button>
            <div>
                <button class="button-sec">Iniciar Sesíon</button>
              </div>
              
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
