* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
}
body {
  background-image: url(../images/Logo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}
.style-div-main {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}
.caja-back {
  /*width: 100%;*/
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(1, 71, 130, 0.6);
  margin-left: 94px;
}
.caja-back div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}
.caja-back div p {
  font-weight: 400;
  font-size: 16px;
}
.caja-back div h3 {
  font-weight: 400;
  font-size: 22px;
}
.margin-top {
  margin-top: 30px;
}
.caja-back button {
  padding: 10px 40px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
  width: 80px;
}
.caja-back button:hover {
  background: #fff;
  color: rgba(1, 71, 130, 255);
}
/*Formularios*/
.contenedor-login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -223px;
  left: 10px;
  margin-bottom: 65px;
  margin-left: 14px;
}
.contenedor-login-register form {
  width: 100%;
  padding: 80px 20px;
  background-color: #fff;
  position: absolute;
  border-radius: 20px;
  text-align: center;
}
.contenedor-login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(1, 71, 130, 255);
}
.contenedor-login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
}
.contenedor-login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: rgba(1, 71, 130, 255);
  color: white;
  cursor: pointer;
  outline: none;
}
.form-login {
  opacity: 0;
  display: block;
  margin-bottom: 81px;
  margin-left: 20px;
  display: none;
}
.form-register {
  display: block;
  height: 582px;
  margin-bottom: 55px;
}
.button-sec {
  padding: 10px 40px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}
.button-sec:hover {
  background: #fff;
  color: rgba(1, 71, 130, 255);
}

.caja-back-login {
  opacity: 0;
}
.contenedor-login-register button {
  padding: 10px 40px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}
.contenedor-login-register button:hover {
  background: #fff;
  color: rgba(1, 71, 130, 255);
}

.button-isesion {
}
.caja-back-register {
  opacity: 0;
}
