/*min 1280*/
main {
  margin-top: 50px;
}
.caja-back {
  max-width: 350px;
  height: 300px;
  flex-direction: column;
  margin: auto;
}
.caja-back div {
  margin: 0px;
  position: absolute;
}
.contenedor-login-register {
  top: -10px;
  left: -5px;
  margin: auto;
}
.contenedor-login-register form {
  position: relative;
  margin-left: 266px;
}
.form-login {
  opacity: 0;
  display: block;
  margin-bottom: 57px;
  margin-left: 239px;
}
.form-register {
  display: block;
  margin-left: 300px;
}
.caja-back-register {
  display: none;
}
