*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}
body{
    /* font-size: 16px; */
    width: 100%;
    height: 100vh;
     /* display: flex;
    align-items: center;
    justify-content: center; */
}
/*Clases y estilos para el HEADER*/
.header-contenedor{
     background:  rgb(0, 0, 0);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.ul-menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 10px;
}
.ul-menu a{
    display: none;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(250, 247, 247, 0.699);
}
.ul-menu a:hover{
    border-bottom: 1px solid rgba(250, 247, 247, 0.699);
    background: rgb(57, 93, 110);
}
.logo{
    width: 150px;
    border-radius: 10px;
}
.iconos-header{
    padding: 8px;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    height: 44px;
    color: white;
}
.nav-menu{
    display: none;
}
/*Estilos del MAIN*/
.main-contenedor{
  padding: 0 15%;
  background: #005196;
}
.main-contenedor-detalle-producto{
  padding: 20px 5%;
  background: #005196;

}
.titulo{
    color: white;
}
.product-contenedor{
    width: 90%;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.product-contenedor .product-card{
    width: 270px;
    margin-bottom: 15px;
    background:white;
    text-align: center;
    overflow: hidden;
    border: 2px solid #ff2736;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}
.product-contenedor .product-card .product-img{
    width: 230px;
    margin: 20px auto;
}
.product-contenedor .product-card .product-img img{
    width: 100%;
    transition: 0.4s;
}
.product-contenedor .product-card .product-img img:hover{
transform: scale(1.1);
}
.product-contenedor .product-card .product-info h3{
    font-size: 16px;
    padding: 0 25px;
    margin-bottom: 10px;
}
.product-contenedor .product-card .boton{
    width: 100%;
}
.product-contenedor .product-card .boton button{
    width: 100%;
    padding: 10px;
    background: #ff2736;
    border: 1px solid #ff2736;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
}
/*Estilos para el FOOTER*/
.principal{
    background:#ff2736;
}
.footer-titulo{
    color: white;
    text-align: center;
}
.contenedor-footer{
    color: white;
    text-align: center  ;
}
.copy{
    padding-top: 30px;
    font-size: 12px;
}
.redes-sociales{
    display: flex;
    justify-content: center;
    color: white;
    
}
.redes-sociales i{
    padding: 20px;
    font-size: 20px;
}
/*para tablets en adelante*/
@media (min-width:479px) {
    .nav-menu{
        display: block;
    }
    .iconos-header{
        display: block;
    }
    .ul-menu a{
        display: block;
    }
}
/* .fjj-black-background{
    background-color: black;
}

body {
    font-family: "Roboto";
    font-size: 12px;
    color: #005196
} */



/* estilos de productDetail*/

.snap-slider {
    display: flex;
    width: 50%;
    /* height: 100vh; */
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 26%;
}

  .snap-slider li {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}
.imagenes-vista, .imagenes-vista .col-12 {
    position: relative;
    max-width: 100%;
    padding: 0px;
}
.cantidad-fotos{
        background: #000000ba;
    width: 75px;
    padding: 5px;
    margin: 10px;
    position: absolute;
    bottom: 0;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.titulo-descripcion{
    color:white;
    text-align: center;
}
.precio{
    font-size: 35px;
    font-weight: 500;
    padding: 0px 0px 10px 0px;
    padding-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.descripcion{
    list-style: none;
    columns: 2;
    padding-left: 0px;
    margin-top: 21px;
    margin-bottom: 64px;
}

.descripcion li strong{
    font-weight: 200;
    font-size: 0.8rem;
    color: #999;
    display: block;
    padding: 2px;
}

.descripcion li span{
    color:white;
}

.caja{
    
    padding: 27px 30px;
    border-top: solid thin #ccc;
    border-left: solid thin #ccc;
    border-right: solid thin #ccc;
    box-shadow: 4px 4px 5px #043865;
}

.caja p{
    color:white
}

.caja h3{
    color:#999;
    margin-bottom: 20px;
}
.carrito-detalle-producto{
    margin-left: 84%;
    margin-top: 12px;
}

/* estilos de productCart */
.main-contenedor-mi-carrito{
    padding: 20px 5%;
    background: #005196;
}
.caja-cart{
    padding: 20px;
    width: 101%;
    height: 119px;
    background:#005196;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 2px -1px 11px #e22525;
    display: inline-table;
}
.imagen-carrito{
    margin-right: 15px;
    max-height: 70px;
    max-width: 70px;
    position: relative;
}
.imagen-carrito img{
    max-height: 133px;
    max-width: 105px;
    position: relative;
    margin-bottom: 43px;
    padding: -4px;
    margin-top:  -21px;
    margin-left: -19px;
}
.detalle-cart{
    margin-top: -75px;
    margin-left: 106px;
}
.subdetalle-cart{
    margin-left: 106px;
    margin-top: 10px;
}
.principal-cart{
    background:#ff2736;
}
.form-control{
        display: block;
    width: 35%;
    margin-top: 16px;
    margin-left: -2px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    
}
.form-control-dell {
        display: block;
    width: 35%;
    margin-top: 16px;
    margin-left: -2px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   
    
}
.form-control-disco{
        display: block;
    width: 35%;
    margin-top: 16px;
    margin-left: -2px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    
}
.carrito-detalle-producto button{
    background: #ff2736;
    color: white;
}
.caja-productos{
      background-image: url(../img/Logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color:white;
  background-color: #ff2736;
}
.caja-prod{
    padding: 70px 30px;
    border-top: solid thin #ccc;
    border-left: solid thin #ccc;
    border-right: solid thin #ccc;
    background-color: #ccc;
    width: 100%;
    height: 70%;
    font-size: 24px;
    color: black;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}
.button-form{
    font-size: 20px;
    background-color: #005196;
    padding: 3px;
    margin-top: 82px;
    width: 110px;
}
