<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body class= "caja-productos">
    <header>
    <%- include("partials/header") %>
      </header>
      <h2 style="
        margin-left: 36px;
         ">INGRESÁ TU PRODUCTO
         </h2>
    <form action="productsCreate" method="POST" class= "caja-prod">
      <label>Nombre del producto</label>
      <input type="text" name="name" required class="input-form" />
      <br>
      <label>Descripción del producto</label>
      <input type="text" name="descripcion" class="input-form" />
      <br>
      <label>Imagen del producto</label>
      <input
        type="file"
        name="img"
        placeholder="Solo archivos png o jpeg"
        accept="image/png,image/jpeg" 
        class="input-form"
      />
      <br>
      <label>Categoria del producto</label>
      <input type="text" name="categoria" class="input-form" />
      <br>
      <label>Colores</label>
      <input type="text" name="color" class="input-form"/>
      <br>
      <label>Almacenamiento</label>
      <input type="text" name="almacenamiento" class="input-form" />
      <br>
      <label>Precio</label>
      <input type="number" name="price" class="input-form" />
      <br>
      <label>Accesibilidad</label>
      <input type="text" name="accesibilidad" class="input-form" placeholder="bluetooth,Wifi..." />
      <br>
      <label>Camara</label>
      <input type="text" name="camara" class="input-form" placeholder="48mpx..." />
      <br>
      <label>Camara delantera</label>
      <input type="text" name="camara_delantera" class="input-form" placeholder="12mpx..." />
      <br>
      <label>Sonido</label>
      <input type="text" name="sonido" class="input-form" placeholder="Estereo, mono..."/>
      <br>
      <label>Sim</label>
      <input type="text" name="sim" class="input-form" placeholder="Dual sim..." />
      <br>
      <label>Memoria Externa</label>
      <input type="text" name="memoriaExterna" class="input-form" placeholder="Hasta 256gb..." />
      <br>
      <label>Marca del producto</label>
      <select>
        <option>Seleccione...</option>
        <option>Samsung</option>
        <option>HP</option>
        <option>LG</option>
        <option>Apple</option>
        <option>Lenovo</option>
        <option>Sandisk</option>
        <option>Kingston</option>
        <option>Verbatim</option>
        <option>Western Digital</option>
        <option>Dell</option>
        <option>Intel</option>
        <option>Xiaomi</option>
        <option>Cannon</option>
        <option>Sony</option>
        <option>Otras marcas</option>
      </select>
      <br>
      <button class= "button-form" type="submit">Crear</button>
      <button class= "button-form" type="reset">Borrar</button>
    </form>
  </body>
  <footer>
    <%- include("partials/footer") %>
  </footer>
</html>
