<footer class="principal">
    <h2 class="footer-titulo">Seguinos en las redes</h2>
    <div class="redes-sociales">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <div class="contenedor-footer">
        <h2>Acerca de nosotros</h2>
        <p>Somos una empresa que se dedica a la venta Computadoras, insumos y componentes informáticos</p>
    </div>
    <div class="contenedor-footer">
        <p class="copy">© 2021 FJJ TECH / Todos los derechos reservados</p>
    </div>
</footer>