<header class="header-contenedor">
    <div class="img-contenedor">
        <img class="logo" src="/img/header-logo.png" alt="">
    </div>
    <nav class="nav-menu">
        <ul class="ul-menu">
            <li><a href="#">Home</a></li>
            <li><a href="/products">Componentes</a></li>
            <li><a href="#">Computadoras</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Registrar</a></li>
        </ul>
    </nav>
    <div>
        <div class="iconos-header">
            <a href=""> <i class="fas fa-bars"></i> </a>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i> </a>
            <a href="/register"> <i class="fas fa-user"></i> </a>
            <a href="/login"> <i class="fas fa-sign-in-alt"></i> </a>
        </div>
    </div>
</header>