<header class="header-contenedor">
    <div class="img-contenedor">
        <img class="logo" src="/img/header-logo.png" alt="">
    </div>

    <nav class="nav-menu">
        <ul class="ul-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/productsCreate">Nuevo Producto</a></li>
            <li><a href="#">Computadoras</a></li>
            <li><a href="#">Celulares</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <div>
        <div class="iconos-header">
                        <a href="/user/login"> <i class="fondo fas fa-sign-in-alt"></i> </a>
                        <a href="/user/register"> <i class="fondo fas fa-user"></i> </a>
                        <a href="/productCart"><i class="fondo fas fa-shopping-cart"></i> </a>
                        <% if(locals.isLogged) { %>
                            <a href="/user/userProfile"><i></i>Ver perfil</a>
                            <a href="/user/logout">Logout</a>
                            <% } %>
            <!-- <a href=""> <i class="fonco fas fa-bars"></i> </a> -->
        </div>
    </div>
</header>