<main class="main-contenedor">
    <section>
        <h2 class="titulo">Productos</h2>
        <div class="product-contenedor">
            <div class="product-card">
                <a href="/productDetail">
                    <div class="product-img">
                        <img src="/img/xiaomi-7.jpg" alt="">
                    </div>
                </a>
                <div class="product-info">
                    <h5>Xiaomi redmi note 7</h5>
                    <h5>$18.500</h5>
                </div>
                <div class="boton">
                    <button type="button">Añadir al carrito</button>
                </div>
            </div>

            <div class="product-card">
                <a href="/productDetail">
                    <div class="product-img">
                        <img src="/img/dell-xps-7.jpg" alt="">
                    </div>
                </a>
                <div class="product-info">
                    <h5>Dell XPS</h5>
                    <h5>$200.000</h5>
                </div>
                <div class="boton">
                    <button type="button">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <a href="/productDetail">
                    <div class="product-img">
                        <img src="/img/discohd.jpg" alt="">
                    </div>
                </a>
                <div class="product-info">
                    <h5>Disco rigido WD</h5>
                    <h5>$10.000</h5>
                </div>
                <div class="boton">
                    <button type="button">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <a href="/productDetail">
                    <div class="product-img">
                        <img src="/img/teclado.jpg" alt="">
                    </div>
                </a>
                <div class="product-info">
                    <h5>Teclado Redragon</h5>
                    <h5>$9.500</h5>
                </div>
                <div class="boton">
                    <button type="button">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <a href="/productDetail">
                    <div class="product-img">
                        <img src="/img/pendrive.jpg" alt="">
                    </div>
                </a>
                <div class="product-info">
                    <h5>Pendrive Sandisk</h5>
                    <h5>$900</h5>
                </div>
                <div class="boton">
                    <button type="button">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <a href="/productDetail">
                    <div class="product-img">
                        <img src="/img/iphone-11-pro.jpg" alt="" width="100%">
                    </div>
                </a>
                <div class="product-info">
                    <h5>Iphone 11 PRO</h5>
                    <h5>$276.500</h5>
                </div>
                <div class="boton">
                    <button type="button">Añadir al carrito</button>
                </div>
            </div>
        </div>
    </section>

</main>